{% extends "master.html.twig" %}

{% block title %}
    Index
{% endblock %}

{% block sideNav %}
    <h3>Side Nav</h3>        

    {% for item in DeweyDecimalClass %}

        <a class="btn btn-outline-primary" role="button" 
           href="/list/bookclass/{{ item.code }}"><small>{{ item.name }}</small>
        </a>

    {% endfor %}        

{% endblock %}

{% block content %}
    <div>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% for p in range(1, totalpages) %}
                    <li class="page-item"><a class="page-link" href="#">{{ p }}</a>
                    </li>
                {% endfor %}
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div>
        {% for book in books %}
            <div class="well">
                {% if book.image != null %}
                    <div class="pull-left" style="margin-right: 10px">
                        <img class="img-thumbnail" width="75" height="75"
                             src="/item/{{book.id}}/image" />
                    </div>
                {% endif %}
                <h3>
                    <strong><a href="/admin/item/edit/{{ book.id }}">{{book.title}}</a></strong>
                    <span class="pull-right label label-primary">{{book.author}}</span>
                    <span class="pull-right label label-primary">${{book.price}}</span>
                </h3>
                <form action='/cart/add/{{book.id}}' method='post' >
                    <div class="pull-right">
                        <input type="submit" class="btn btn-success" value="Add to cart" />
                    </div>
                </form>
            </div>
        {% endfor %}
    </div>

{% endblock content %}