{% extends "master.html.twig" %}





{% block title %}
    libEr
{% endblock %}






{% block content %}

    <div>
        <h2>Welcome, your sessionID is {{sessionID}}</h2>
        {% for book in books %}
            <div>
                <br><b>{{book.title}}</b></br>
                <br>{{book.author}}<br>            
                <br>{{book.price}}<br>       
                <br>{{book.ISBN}}<br>     
                <img src="/item/{{book.id}}/image" width="200">
            </div>
        {% endfor %}
    </div>

{% endblock content %}