{% extends "master.html.twig" %}





{% block title %}
    libEr
{% endblock %}






{% block content %}

    <div>
        <h2>Welcome, your sessionID is {{sessionID}}</h2>
        {% for book in books %}

            <div class="well">
                {% if book.image != null %}
                    <div class="pull-left" style="margin-right: 10px">
                        <img class="img-thumbnail" width="75" height="75"
                             src="/item/{{book.id}}/image" />
                    </div>
                {% endif %}
                <h3>
                    <strong><a href="/admin/item/edit/{{ book.id }}">{{book.title}}</a></strong>
                    <span class="pull-right label label-primary">{{book.author}}</span>
                    <span class="pull-right label label-primary">${{book.price}}</span>
                </h3>
                <form action='/item/addtocart/{{book.id}}' method='post' >
                    <div class="pull-right">
                        <input type="submit" class="btn btn-success" value="Add to cart" />
                    </div>
                </form>
            </div>


        {% endfor %}
    </div>

{% endblock content %}