{% extends "master.html.twig" %}

{% block title %}
    {% if action == 'edit' %}
        Editing book
    {% else %}
        Adding book
    {% endif %}
{% endblock %}

{% block content %}

    {% if errorList %}    
        <ul class="error">
            {% for error in errorList %}
                <li>{{error}}</li>
                {% endfor %}
        </ul>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        <div class="form-group row">
            <label for="staticId" class="col-sm-2 col-form-label">Id</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" 
                       name="id" value="{{ v.id }}"
                       id="staticId">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputTitle" class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputTitle"                        
                       name="title" value="{{ v.title }}"
                       placeholder="Title">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputAuthor" class="col-sm-2 col-form-label">Author</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputAuthor"                      
                       name="author" value="{{ v.author }}"
                       placeholder="Author">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPrice" class="col-sm-2 col-form-label">Price</label>
            <div class="col-sm-10">
                <input type="number" class="form-control"                      
                       name="price" value="{{ v.price }}"
                       id="inputPrice" placeholder="Price">
            </div>
        </div>
        <div class="form-group">
            <label for="conditionformControlRange"><p id="conditionLable" >Condition: <span id="valBox"></span> %</p></label>
            <input type="range" name=condition  class="custom-range" 
                   value= {{ v.conditionofused }} 
                   ooninput="showVal(this.value)" onchange="showVal(this.value)"
                   min="0" max="100" step="10"  id="conditionformControlRange">
        </div>

        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-4 pt-0">Dewey Decimal Classification</legend>
                <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                    <option selected>Choose...</option>
                    {% if Classification.1 %}    
                        <ul class="error">
                            {% for c in Classification.1 %}
                                <option value="{{ c.code }}">{{ c.name }}</option>
                            {% endfor %}
                        </ul>
                    {% endif %}

                </select>
                <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            </div>
        </fieldset>
        <fieldset>
            <legend class="col-form-label col-sm-4 pt-0"><label for="descriptionTextarea1">Image</label></legend>
            <div class="form-group row">
                <input type="file" name="image" onchange="loadFile(event)" 
                       class=" col-sm-2 form-control-file" id="imageFormControlFile">
                <img class="col-sm-4 rounded float-left" height="200"                  
                     id="preview" alt="The preview of an image of this book.">
            </div>
        </fieldset>
        <div class="form-group">
            <label for="descriptionTextarea1">Description</label>
            <textarea class="form-control" name="description" id="descriptionTextarea1" rows="3"></textarea>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">
                    {% if action == 'edit' %}
                        Save Book
                    {% else %}
                        Add Book
                    {% endif %} 
                </button>
            </div>
        </div>



    </form>
{% endblock %}

{% block addfoot %}
    <script>
        var loadFile = function (event) {
            var output = document.getElementById('preview');
            output.src = URL.createObjectURL(event.target.files[0]);
        };

        function showVal(newVal) {
            document.getElementById("valBox").innerHTML = newVal;
        }

    </script>
{% endblock %}