{% extends "master.html.twig" %}

{% block title %}
    {% if action == 'edit' %}
        Editing book
    {% else %}
        Adding book
    {% endif %}
{% endblock %}

{% block content %}

    {% if errorList %}    
        <ul class="error">
            {% for error in errorList %}
                <li>{{error}}</li>
                {% endfor %}
        </ul>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        <div class="form-group row">
            <label for="staticId" class="col-sm-2 col-form-label">Id</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" 
                       name="id" value="{{ v.id }}"
                       id="staticId">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputTitle" class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputTitle"                        
                       name="title" value="{{ v.title }}"
                       placeholder="Title">
            </div>
        </div>

        <div class="form-group row">
            <label for="inputAuthor" class="col-sm-2 col-form-label">Author</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputAuthor"                      
                       name="author" value="{{ v.author }}"
                       placeholder="Author">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputTitle" class="col-sm-2 col-form-label">ISBN</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputTitle"                        
                       name="isbn" value="{{ v.isbn }}"
                       placeholder="Title">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPrice" class="col-sm-2 col-form-label">Price</label>
            <div class="col-sm-10">
                <input type="text" class="form-control"                    
                       name="price" value="{{ v.price }}"
                       id="inputPrice" placeholder="Price">
            </div>
        </div>
        <div class="form-group">
            <label for="conditionformControlRange"><p id="conditionLable" >Condition: <span id="conditionValue"></span> %</p></label>
            <input type="range" name="condition"  class="custom-range" 
                   value= {{ v.conditionofused }} 
                   oninput="showVal(this.value)" onchange="showVal(this.value)"
                   min="40" max="100" step="10"  id="conditionformControlRange">
        </div>

        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-5 pt-0">
                    Dewey Decimal Classification
                    <input type="text" id="bookclass"  name="bookclass" value='{{ v.bookclass }}'>
                </legend>

                <select class="custom-select my-1 mr-sm-2" onchange="addSecondOption(this.value)"
                        id="firstClass">
                </select>
                <select class="custom-select my-1 mr-sm-2" onchange="addThirdOption(this.value)"
                        id="secondClass">
                </select>
                <select class="custom-select my-1 mr-sm-2" onchange="showSelected(this.value)" 
                        id="thirdClass" >
                </select>
            </div>
            </div>
        </fieldset>
        <fieldset>
            <legend class="col-form-label col-sm-4 pt-0"><label for="descriptionTextarea1">Image</label></legend>
            <div class="form-group row">
                <input type="file" name="image" onchange="loadFile(event)" 
                       class=" col-sm-2 form-control-file" id="imageFormControlFile">
                <img class="col-sm-4 rounded float-left" height="200"                  
                     id="preview" alt="The preview of an image of this book.">
            </div>
        </fieldset>
        <div class="form-group">
            <label for="descriptionTextarea1">Description</label>
            <textarea class="form-control" name="description" id="descriptionTextarea1" rows="3">{{v.description}}</textarea>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">
                    {% if action == 'edit' %}
                        Save Book
                    {% else %}
                        Add Book
                    {% endif %} 
                </button>
            </div>
        </div>



    </form>
{% endblock %}

{% block addfoot %}
    <script>
        var loadFile = function (event) {
            var output = document.getElementById('preview');
            output.src = URL.createObjectURL(event.target.files[0]);
        };

        function showVal(newVal) {
            document.getElementById("conditionValue").innerHTML = newVal;
        }

        // Fetch default data from data 
        $(document).ready(function () {
        {#            document.getElementById(bookclass).value = "000";#}
                addOptions("000", "firstClass");
            });
            function addSecondOption(code) {
                showSelected(code);
                code = code.substring(0, 1);
                addOptions(code, "secondClass");
            }

            function addThirdOption(code) {
                showSelected(code);
                code = code.substring(0, 2);
                addOptions(code, "thirdClass");
            }

            function showSelected(value) {
                console.log("book class : " + value);
                document.getElementById('bookclass').value = value;
            }



            function addOptions(code, idOfSelect) {
                if (window.XMLHttpRequest) {
                    // code for IE7+, Firefox, Chrome, Opera, Safari
                    xmlhttp = new XMLHttpRequest();
                } else {
                    // code for IE6, IE5
                    xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
                }
                xmlhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        document.getElementById(idOfSelect).innerHTML = this.responseText;
                        console.log(this.responseText);
                    }
                };
                xmlhttp.open("GET", "/item/" + code + "/class");
                xmlhttp.send();
            }

    </script>
{% endblock %}